@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter.ttf");
}

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --darker-grey: hsl(0, 0%, 8%);
  --regular: 400;
  --semibold: 600;
  --bold: 700;
}

body {
  font-family: Inter;
  font-size: 14px;
}
